PORT=3001
NODE_ENV=development

# MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/pulse?retryWrites=true&w=majority

# JWT
JWT_SECRET=dd03206f9063fe8e
# Email that automatically gets admin role on register
ADMIN_EMAIL=
# Client URL for CORS
CLIENT_URL=http://localhost:5173
